body {
    color: #FFF;
}

a:hover {
    text-decoration: none;
}

i {
    font-size: 30px;
    color: #88D7EF;
}

i:hover {
    text-decoration: none;
}

#myCarousel {
    max-height: 450px;
    height: 450px;
}

#myCarousel img,
#myCarousel .item {
    height: 450px;
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#sidebar {
    background: #FCFCFC;
}

#sidebar, #sidebar a {
    color: #8CD7F2;
    font-size: 18px;
    text-shadow:1px 0 1px #222;
}

#sidebar a.logo {
    padding: 0;
    background: none;
}

#headerwrap p {
    color: #8cd7f2;
}